.search{
    display: grid;
    grid-template-areas: "filter content";
    grid-template-columns: 280px;
    &__filter{
        margin: 10px 0;
        grid-area: filter;
        background: white;
        width: 100%;
        height: fit-content;
        padding: 26px;
        filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0, 0.3));
        border-radius: 10px;
        h6{
            margin-bottom: 0px;
            font-size: 11px;
            font-weight: 300;
        }
        .input{
            width: 100%;
            height: 30px;
            padding: 3px;
            border: none;
            outline: none;
            border-bottom: 1px solid black;
        }
    }
    &__content{
        grid-area: content;
    }
}
.selection{
    display: flex;

}

.search-button{
    cursor:  pointer;
    margin-top: 20px;
    width: 100%;
    height: 60px;
    border-radius: 6px;
    border: 0;
    background: linear-gradient(0.5turn, #6B1D57, #33176C);
    font-size: 20px;
    color: white;
    font-weight: 300;
}
.reset-button{
    text-decoration: underline;
    font-size: 15px;
    text-align: center;
    &:hover{
        cursor: pointer;
    }
}